{% extends 'base.html.twig' %}

{% block title %}Classe !{% endblock %}

{% block body %}
    <div class="container">
       <h1 >LISTE DES Classes</h1>
        <button type="submit" class="btn btn-primary ml"><a href="{{path('ajout_classe')}}" style="color:white; text-decoration:none;, font-weight:bold;">Ajouter</a></button>
    <table class="table table-hover width">
    <thead>
        <tr>
            <th scope="col">id classe</th>
            <th scope="col">Nom classe</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    {% for classe in listeclasse %}
        <tbody>
            <tr class="table-active">
                <td > {{classe.id}} </td>
                <td> {{classe.nomClasse}} </td>
                <td> 
                     <button type="submit" class="btn btn-primary"><a href="{{ path('modif_classe', {
                            id: classe.id }) }}" style="color:white; text-decoration:none;, font-weight:bold;">Modifier</a></button>
                      <button type="submit" class="btn btn-primary"><a href="{{ path('delete_classe', {
                            id: classe.id }) }}" style="color:white; text-decoration:none;, font-weight:bold;">Supprimer</a></button>
                </td>
               
            </tr>
        </tbody>
    {% endfor %}
</table>
    </div>

{% endblock %}
